<div><a href="{% url 'my_app_0:index' %}">index</a></div>
<div><a href="{% url 'my_app_0:index shortcut' %}">index shortcut</a></div>
<div><a href="{% url 'my_app_0:basic' %}">basic</a></div>
<div><a href="{% url 'my_app_0:url parameter' 0 1 %}">url parameter</a></div>
<div><a href="{% url 'my_app_0:test 404' %}">test 404</a></div>
<div><a href="{% url 'my_app_0:test 404 shortcut' %}">test 404 shortcut</a></div>
<div><a href="{% url 'my_app_0:extends' %}">extends</a></div>
<div><a href="{% url 'my_app_0:logical' %}">logical</a></div>
<div><a href="{% url 'my_app_0:get' %}?a=1&b=2">get</a></div>
<div><a href="{% url 'my_app_0:form' %}">form</a></div>
<div><a href="{% url 'my_app_0:mail' %}">mail</a></div>
<div><a href="{% url 'my_app_0:mass mail' %}">mass mail</a></div>
<div><a href="{% url 'my_app_0:email multi alternatives' %}">email multi alternatives</a></div>
<div><a href="{% url 'my_app_0:cache' %}">cache</a></div>
<div><a href="{% url 'my_app_0:list json' %}">list json</a></div>
<div><a href="{% url 'my_app_0:dict json' %}">dict json</a></div>
