<div><a href="{% url 'my_app_0:index' %}">index</a></div>
<div><a href="{% url 'my_app_0:index shortcut' %}">index shortcut</a></div>
<div><a href="{% url 'my_app_0:basic' %}">basic</a></div>
<div><a href="{% url 'my_app_0:url parameter' 0 %}">url parameter</a></div>
<div><a href="{% url 'my_app_0:test 404' %}">test 404</a></div>
<div><a href="{% url 'my_app_0:test 404 shortcut' %}">test 404 shortcut</a></div>
<div><a href="{% url 'my_app_0:extends' %}">extends</a></div>
<div><a href="{% url 'my_app_0:logical' %}">logical</a></div>